body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #81ecec;
}

.title {
    margin-top: 2%;
    width: 400px;
    font-family: 'Finger Paint', cursive;
}


.canvas-style {
    height: 500px;
    width: 500px;
    position: relative;
    background-color: white;
    border: 1px solid #7bed9f;
}

.btn {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.row.border {
    border: 1px solid gray;
}

button {
    margin: 1%;
    height: 20px;
    width: 20px;
}

.draw {
    position: absolute;
    /* width: 3px;
    height: 3px; */
}

.draw.black {
    color: black;
}

.draw.green {
    color: green;
}

.draw.pink {
    color: pink;
}

.draw.yellow {
    color: yellow;
}

.draw.blue {
    color: blue;
}

.draw.brown {
    color: brown;
}



.navbar-nav {
    display: flex;
    align-items: center;
    width: 100px;
    height: 500px;
    border: 1px solid gray;
    background-color: #f1f2f6;
}


.clearScreen {
    background-image: url("../src/icon/new-page.png");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    width: 15px;
    background-size: contain;
}

.resize {
    background-image: url("../src/icon/resize-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    width: 15px;
    background-size: contain;
}

.section-selection-box {
    width: 80%;
    text-align: center;
    height: 100px;
    position: absolute;
    bottom: 4px;
    background-color: #eccc68;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-size {
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
}


.size-s {
    width: 3px;
    height: 3px;
    background-color: black;

}

.size-m {
    width: 8px;
    height: 8px;
    background-color: black;
}

.size-l {
    width: 13px;
    height: 13px;
    background-color: black;
}

.size-xl {
    width: 18px;
    height: 18px;
    background-color: black;
}

.click-box-size {
    background-color: #3498db;
}

.btn-group-size {
    display: none;
}

.border-current-color {
    border: 1px solid gray;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-color {
    border: 1px solid yellow;
    width: 30px;
    height: 30px;
}

.modal-body {
    display: inline-flex;
    justify-content: space-around;
}

span.input-group.mb-3 {
    width: 177px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}